.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: #ffffff;
  padding: 5%;
}

.App > a {
	cursor: pointer;
}

.App-home-logo {
	position: fixed;
	width: 120px;
	right: 5%;
	bottom: 5%;
}
